{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Cà Là Phê{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div class="overlay"></div>

    {% block body %}
      {% if messages %}
      <div>
        <strong>Thông báo:</strong>
        <ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <nav>
        <strong>Menu:</strong>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'account_email' %}">Đổi E-mail</a></li>
          <li><a href="{% url 'account_logout' %}">Đăng xuất</a></li>
          {% else %}
          <li><a href="{% url 'account_login' %}">Đăng nhập</a></li>
          <li><a href="{% url 'account_signup' %}">Đăng ký</a></li>
          {% endif %}
        </ul>
      </nav>

      {% block content %}
      {% endblock %}
      
    {% endblock %}

    {% block extra_body %}
    {% endblock %}
  </body>
</html>